#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define ADJUST  3
#define FRENCH  4

/ {
    combos {
        compatible = "zmk,combos";

        Numbers {
            bindings = <&tog 4>;
            key-positions = <38 39>;
        };

        One {
            bindings = <&tog 1>;
            key-positions = <36 37>;
        };

        Two {
            bindings = <&tog 2>;
            key-positions = <41 40>;
        };

        reset_layer {
            bindings = <&to 0>;
            key-positions = <39 35>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp TAB         &kp Q  &kp W  &kp E     &kp R           &kp T          &kp Y        &kp U        &kp I      &kp O    &kp P     &kp BSPC
&kp LCTRL       &kp A  &kp S  &kp D     &kp F           &kp G          &kp H        &kp J        &kp K      &kp L    &kp SEMI  &kp SQT
&kp LEFT_SHIFT  &kp Z  &kp X  &kp C     &kp V           &kp B          &kp N        &kp M        &kp COMMA  &kp DOT  &kp FSLH  &kp ESC
                              &kp RALT  &mt LGUI ENTER  &lt 1 SPACE    &lt 2 SPACE  &lt 3 ENTER  &mo 4
            >;
        };

        lower_layer {
            bindings = <
&kp GRAVE  &kp N1  &kp N2  &kp N3    &kp N4  &kp N5       &kp N6     &kp N7          &kp N8    &kp N9     &kp N0         &kp DEL
&kp LSHFT  &trans  &trans  &trans    &trans  &trans       &kp LEFT   &kp DOWN        &kp UP    &kp RIGHT  &kp PIPE       &kp DQT
&kp LCTRL  &trans  &trans  &trans    &trans  &trans       &kp MINUS  &kp UNDERSCORE  &kp LBRC  &kp RBRC   &kp BACKSLASH  &kp TILDE
                           &kp LGUI  &trans  &kp SPACE    &kp RET    &mo 4           &kp RALT
            >;
        };

        raise_layer {
            bindings = <
&kp TILDE  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS  &kp STAR  &kp LPAR  &kp RPAR   &kp DEL
&kp LSHFT  &trans    &trans  &trans    &trans    &trans       &trans     &trans    &trans    &trans    &kp LBKT   &kp RBKT
&kp LCTRL  &trans    &trans  &trans    &trans    &trans       &trans     &trans    &kp LT    &kp GT    &kp QMARK  &kp BSLH
                             &kp LGUI  &mo 4     &kp SPACE    &kp RET    &trans    &kp RALT
            >;
        };

        adjust_layer {
            bindings = <
&sys_reset   &out OUT_TOG  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3    &trans  &trans  &trans  &trans  &trans  &trans
&bt BT_NXT   &trans        &trans        &trans        &trans        &trans          &trans  &trans  &trans  &trans  &trans  &trans
&bootloader  &trans        &trans        &trans        &trans        &trans          &trans  &trans  &trans  &trans  &trans  &trans
                                         &trans        &trans        &trans          &trans  &trans  &trans
            >;
        };

        numbers {
            bindings = <
&trans  &trans  &trans  &kp K_MUTE  &kp C_VOL_DN  &kp C_VOLUME_UP    &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp MINUS  &kp SLASH     &none
&trans  &kp A   &trans  &trans      &trans        &trans             &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp PLUS   &kp ASTERISK  &none
&trans  &trans  &trans  &kp C       &trans        &trans             &kp N7        &kp NUMBER_8  &kp NUMBER_9  &kp EQUAL  &kp PERCENT   &none
                        &trans      &trans        &trans             &kp EQUAL     &kp EQUAL     &kp NUMBER_0
            >;
        };
    };

    macros {
        acute: acute {
            label = "ZM_acute";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp RA(E)>;
        };

        grave: grave {
            label = "ZM_grave";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp RA(GRAVE)>;
        };

        circumflex: circumflex {
            label = "ZM_circumflex";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp RA(I)>;
        };

        trema: trema {
            label = "ZM_trema";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp RA(U)>;
        };

        cedilla: cedilla {
            label = "ZM_cedilla";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp RA(C)>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
